
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.error {
  padding: 20px;
  border-radius: 10px;
  background: rgba(220, 20, 60, 0.5);
  color: white;
}
.invoice_container {
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner_layout {
  width: 60%;
  min-height: 300px;
  color: #000;
}
.details {
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}
.shipping_info p{
  text-align: left;
}
.payment_info p {
  text-align: left;
}
.billing_item {
  display: flex;
}
.billing_item img {
  max-width: 150px;
}
.item_detail p{
  margin: 0;
}
.summary_container {
  max-height: 500px;
  box-shadow: 1px 1px 4px rgba(49, 49, 49, 0.3);
}
.order img {
  max-width: 70px;
  display: flex;
}